<h1>SongLibs<h1>
<h3>It was a good day - Ice Cube</h3>

<%= form_with url: "/songs", method: :post do |form| %>
  <p>Just waking up in the mornin, gotta thank<%= form.text_field :noun1, placeholder: "noun" %>,</p>
  <p>I don't know but today seems kinda <%= form.text_field :noun2, placeholder: "adjective rhymes w/ prev" %>,</p>
  <p>No barking from the <%= form.text_field :noun3, placeholder: "noun" %>, no<%= form.text_field :noun4, placeholder: "noun rhymes w/ prev" %>,</p>
  <p>And momma cooked a breakfast with no <%= form.text_field :noun5, placeholder: "noun rhymes w/ prev" %>,</p>
  <p>I got my grub on, but didn't pig <%= form.text_field :noun6, placeholder: "verb" %>,</p>
  <p>Finally, got a call from a girl I wanna dig <%= form.text_field :noun7, placeholder: "verb rhymes w/ prev" %>,</p>
  <p>Hooked it up fo' later as I hit the <%= form.text_field :noun8, placeholder: "noun" %>,</p>
  <p>Thinkin',  "Will I live anotha <%= form.text_field :noun9, placeholder: "number rhymes w/ prev" %>?",</p>
  <%= form.submit %>
<% end %>

